# Node modules
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log


# Bower
bower_components/

# Visual Studio Code
.vscode/

# Package distribution
dist/
build/
tmp/
temp/
out/
.tmp/


# Power BI Visual artifacts
*.pbiviz
.pbiviz.json

# Logs
*.log

# Coverage reports
coverage/
.nyc_output/

# Optional npm cache directory
.npm/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.idea/

# Miscellaneous
*.tgz

# Generated documentation
doc/
docs/

# Test output
test-results/
*.spec.js

# ENV files
.env
.env.*

# Yarn Integrity file
.yarn-integrity

# Optional PowerBI Visual package folder (if used)
.PBIVisualHost/
webpack.statistics.*

