.sparkline-container {
  font-family: Segoe UI, sans-serif;
  font-size: 10px;
  .spark-row {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    svg {
      margin-left: 4px;
    }
  }
}
